@import "./../../sass/variables.scss";

.profile {
    display: flex;
    flex-Direction: row;

    @include noPro(small) {
        display: none;
    }

    &__icon {
        margin-right: .5rem;
        color: $greys2;
        font-size: 1.6rem;
    }

    &__user {
        position: relative;
        top: .6rem;
        margin-right: .5rem;
        color: $greys4;
        font-size: 1rem;
    }
};