@import "./../../sass/variables.scss";

.chef__content {
    width: 425px;
    height: auto;
    font-size: 1.1rem;
    text-align: justify;
    color: $greys4;
    background-color: $primaryDark;

    @include noText(large) {
        width: 400px;
        font-size: 1.1rem
        
    }
}

.p__style {
    letter-spacing:0.03rem
}