@import "./../../sass/variables.scss";

.navigation__ul {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 3.7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navigation__ul__li {
    font-size: 1rem;
    font-family: inherit;
    color: $greys4;
    margin-right: calc(0.5rem + #{$spacing-md});
    transition: 0.3s ease all;

    &:hover {
        color: $accent1;
    }
}