@import "./../../src/sass/variables.scss";

.player {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-Index: -1;

    @include mq(small) {
        width: 500px;
        height: 424px;
    }
    
}

.mainContainer {
    display: flex;
    flex-direction: column;
}

.bioContent {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 21.2rem;
    align-items: center;
    border-top: 2rem solid;
    background-color: $primaryDark;
}

.bioPic {
    @include mq(small) {
        width: 425px;
        height: 424px
    }
}