@import "./../../sass/variables.scss";


.header {
    background-color: $primaryDark;
    @include mq(small) {
        padding: 0 3rem;
    }
    transition: 0.3s ease all;

    &__content {
        overflow: hidden;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        max-width: 1920px;
        position: relative;
        z-index: 100;
    }

    &__cart {
        margin-right: 1rem;
        color: $greys4;
        font-size: 1.6rem;
    }

    &__menu {
        background-color: $accent1;
        font-size: 1.6rem;

        @include mq(medium) {
            display: none;
        }
        @include mq(large) {
            display: none;
        }
        @include mq(xlarge) {
            display: none;
        }
    }

    &__cart__menu {
        display: flex;
        position: relative;
        top: 2.7rem;
    }


    &__profMenu {
        @include noPro(small) {
            display: none;
        }
    }

    &__cart__profile {
        display: flex;
    }

}

.user {
    position: relative;
    top: 2.7rem;
}

nav {
    @include showNav(small) {
        display: none;
    }
}